.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h1 {
      color: wheat;
    }
  }
  > button {
    position: relative;
    z-index: 1;
    $button_size: 200px;
    border-radius: 20px;
    width: $button_size;
    aspect-ratio: 16/9;
    background-color: black;

    &::after {
      $border: 5px;
      z-index: -1;
      content: '';
      position: absolute;
      top: -$border;
      left: -$border;
      border-radius: 10px;

      width: $button_size + 5px;
      aspect-ratio: 16/9;
      background: radial-gradient(circle at top 20% left 50%, pink, blue);
    }
  }
}
